/* MAYBE MAKE THIS IN A SINGLE FILE BECAUSE ALL PAGES USE THE SAME CSS */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,600");

td {
	font-size: large;
}
body {
	font-family: Poppins;
	background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
	background-size: 100vw;
	background-color: white;
	margin: 0px;
	padding: none;
	color: white;
}

nav {
	display: flex;
	background-color: rgba(100, 100, 100, 0.2);
	padding: 50	px;
	justify-content: center;
	z-index: 1;
	backdrop-filter: blur(
		8px
	); /* Disable this to have a Macos-like top bar
	border-radius: 0px 0px 10px 10px;
	border-top: none;
	margin-left: 50px;
	margin-right: 50px; */
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
}

nav a {
	transition: color 0.1s ease;
	text-decoration: none;
	color: white;
	margin: 10px;
}

nav a:hover {
	color: #aaa;
}

h1 {
	margin: 50px;
	font-size: 50px;
	font-weight: 600;
}

button {
	font-family: poppins;
	margin-left: 50px;
	border: none;
	border-radius: 9999px;
	padding: 10px 32px;
	font-size: 20px;
	cursor: pointer;
	margin-top: -20px;
	background-color: white;
	color: black;
}

table {
	border-collapse: collapse;
	width: 15%;
	margin-left: 50px;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

div {
	margin-bottom: 100px;
}

a {
	text-decoration: none;
	color: #3498db; /* Change to your desired color */
}

.main {
    background-color: rgb(185, 230, 236); /* Set the background color to your desired highlight color */
}