/* MAYBE MAKE THIS IN A SINGLE FILE BECAUSE ALL PAGES USE THE SAME CSS */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,600");

td {
	font-size: large;
}

body {
	font-family: Poppins;
	background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
	background-size: 100vw;
	background-color: white;
	margin: 0px;
	padding: none;
	color: white;
}

nav {
	display: flex;
	background-color: rgba(100, 100, 100, 0.2);
	padding: 50	px;
	justify-content: center;
	z-index: 1;
	backdrop-filter: blur(8px); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
}
/* 
p {
	color:#3498db;
} */
nav a:hover {
	color: #aaa;
}

h1 {
	margin: 50px;
	font-size: 50px;
	font-weight: 600;
}

table {
	border-collapse: collapse;
	width: 15%;
	margin-left: 50px;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

td {
	color:black;
	font-size: medium;
}
div {
	margin-bottom: 50px;
}

a, th {
	text-decoration: none;
	color: #3498db; 
}

.main {
    background-color: rgb(185, 230, 236); 
}

.table_container {
    display: flex; 
	table-layout: fixed;
	width: 100%;
}

.empty_row {
	height: 30px;
}