@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,600");

td {
	font-size: large;
}

body {
	font-family: Poppins;
	background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
	background-size: 100vw;
	background-color: white;
	margin: 0px;
	padding: none;
	color: white;
}

nav {
	display: flex;
	background-color: rgba(100, 100, 100, 0.2);
	padding: 50	px;
	justify-content: center;
	z-index: 1;
	backdrop-filter: blur(8px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
}

nav a {
	transition: color 0.1s ease;
	text-decoration: none;
	color: white;
	margin: 10px;
}

nav a:hover {
	color: #aaa;
}

h1 {
	margin: 50px;
	font-size: 50px;
	font-weight: 600;
} 

table {
	border-collapse: collapse;
	width: 15%;
	margin-left: 50px;
	height: 10%
}

table.new-table {
    width: 60%; /* Adjust the width as needed */
	height: 10%;
    margin-left: 20px; /* Set the desired margin-left for the new table */
}

table.new-table tr {
	height: 40px; /* Adjust the height as needed */
}
th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	color: black
}

th {
	background-color: #f2f2f2;
    color: #3498db;
}

div {
	margin-bottom: 100px;
}

a {
	text-decoration: none;
	color: #3498db; /* Change to your desired color */
}



.sidebar {
	width: 200px;
	background-color: lightgrey;
	padding: 10px;
} 

.highlight:hover {
	background-color: lightblue;
}

.button {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #3498db;
    font-family: Poppins;
    font-size: large;
    cursor: pointer;
    transition: color 0.3s ease;
}