<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
    <script src="../static/add_locations.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('home_index') }}">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>
    
    <div style="display: flex;">
        <!-- LINK TO OTHER PAGES -->
        <table>
            <tr><td class="highlight"><a href="{{ url_for('date_lookup') }}">Date Lookup</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('my_reservations') }}">My Reservations</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('current_locations') }}">Bin Locations</a></td></tr> 
            <tr><td class="highlight"><button class="button" onclick="alert('Please report any bugs to ochen2@ocdsb.ca.')">Bug Report</button></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('team') }}">Our Team</a></td></tr>
            <tr class="invisible-row"><td class="highlight"></td></tr> <!-- Invisible row -->
            {% if is_admin %}
                <tr><td class="highlight"><a href="{{ url_for('reservation_history') }}">Reservation History</a></td></tr>
            {% else %}
                <tr><td class="highlight"><button class="button grayed-out" disabled>Reservation History</button></td></tr>
            {% endif %} 
            {% if is_admin %} 
                <tr><td class="highlight"><a href="{{ url_for('add_locations') }}">Add Bin</a></td></tr>
            {% else %}
                <tr><td class="highlight"><button class="button grayed-out" disabled>Add Bin</button></td></tr>
            {% endif %}
            {% if is_admin %}
                <tr><td class="highlight"><a href="{{ url_for('admin_panel') }}">Manage Users</a></td></tr>
            {% else %}
                <tr><td class="highlight"><button class="button grayed-out" disabled>Manage Users</button></td></tr>
            {% endif %}
            <tr class="invisible-row"><td class="highlight"></td></tr> <!-- Invisible row -->
            <tr><td class="highlight"><a href="{{ url_for('login_index') }}">Sign out</a></td></tr>
        </table>
        
        <!-- Defines a table for displaying search results -->
        <table>
            <tr>
                <!-- Column headers for Array and Search Element -->
                <th>Location Name:</th>
                <!-- <th>Admin password:</th> -->
                <th># of Chromebooks:</th>
                <th>Bin ID:</th>

            </tr> 
   
            <tr> 
                <td><input type="text" id="location" name="null" placeholder ="Enter location name" oninput="checkInputs()"></td>  
                <td><input type="text" id="amt" name="null" placeholder ="Enter total amount" oninput="checkInputs()"></td> 
                <td><input type="text" id="binId" name="null" placeholder ="Enter bin ID" oninput="checkInputs()"></td> 
            </tr>

            <tr>
                <td style = "color: #3498db;" colspan="4">
                    {% if is_verified %} 
                        <button id="submitBin" onclick="submit(event)" disabled>Submit</button>
                    {% else %}
                        <button id="submitBin" onclick="submit(event)">Submit</button>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                var reserveButton = document.getElementById("submitBin");
                                reserveButton.disabled = true;
                                reserveButton.style.opacity = 0.5;
                            });
                        </script>
                    {% endif %}
                
                

                </td>
            </tr>


        </table>
    </div>  

    <div></div>
     
    <!-- THIS ISNT ALIGNED FIX IT LATER -->

</body>
</html>
