<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
    <script src="../static/add_locations_script.js"></script>
    <style>
        .section-title {
            color: #1E90FF;
            margin-left: 50px; /* Adjust this value to shift the title as needed */
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home_index') }}">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>
    
    <div style="display: flex;">
        <!-- LINK TO OTHER PAGES -->
        {% include 'navigation.html' %}

        <div>
            <!-- Title for adding bin -->
            <h2 class="section-title">Add Bin</h2>

            <!-- Defines a table for displaying search results -->
            <table>
                <tr>
                    <!-- Column headers for Array and Search Element -->
                    <th>Location Name:</th>
                    <th># of Chromebooks:</th>
                    <th>Bin ID:</th>
                </tr>
   
                <tr> 
                    <td><input type="text" id="location" name="null" placeholder="Enter location name" oninput="checkInputs()"></td>  
                    <td><input type="text" id="amt" name="null" placeholder="Enter total amount" oninput="checkInputs()"></td> 
                    <td><input type="text" id="binId" name="null" placeholder="Enter bin ID" oninput="checkInputs()"></td> 
                </tr>

                <tr>
                    <td style="color: #3498db;" colspan="3">
                        {% if is_verified %} 
                            <button id="submitBin" onclick="submit(event)" disabled>Submit</button>
                        {% else %}
                            <button id="submitBin" onclick="submit(event)">Submit</button>
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    var reserveButton = document.getElementById("submitBin");
                                    reserveButton.disabled = true;
                                    reserveButton.style.opacity = 0.5;
                                });
                            </script>
                        {% endif %} 
                    </td>
                </tr>
            </table>

            <!-- Title for removing bin -->
            <h2 class="section-title">Remove Bin</h2> 
            <table>
                <tr>  
                    <td colspan="4">
                        {% if is_admin %}
                            <button onclick="deleteAll()">Delete Selected Bins</button>
                        {% else %}
                            <button disabled>Delete Selected Bins</button>
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    var deleteButton = document.querySelector("[onclick='deleteAll()']");
                                    deleteButton.style.opacity = 0.5;
                                });
                            </script>
                        {% endif %}
                    </td>
                    
                </tr>    
                <tr id = "headerRow" style="display: none;"> 
                    <td style="color: #3498db;">ID</td>
                    <td style="color: #3498db;">Location</td>
                    <td style="color: #3498db;"># of Bins Available</td>
                    <td style="color: #3498db;">Select</td>
                </tr>
                <tbody id="chromebookTableBody">
            </table>
    </div>  

    <div></div>
</body>
</html>
