<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
    <script src="../static/date_lookup_script.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('home_index') }}">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>
    
    <div style="display: flex;">
        <!-- LINK TO OTHER PAGES -->
        <table>
            <tr><td style="background-color: lightblue;" class="highlight"><a href="{{ url_for('date_lookup') }}">Date Lookup</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('my_reservations') }}">My Reservations</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('reservation_history') }}">Reservation History</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('add_locations') }}">Add Bin</a></td></tr>
        </table>

        <!-- THIS IS THE LOOKUP TABLE -->
        <table class="new-table" id="chromebookTable">
            <tr>
                <td style = "color: #3498db;" colspan="4">Lookup</td>
            </tr>

            <tr>
                <td>
                    Date: 
                    <input type = "date" id = "dateInput">
                </td>
                <td>
                    Period: 
                    <select id = "periodInput">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
                <td colspan="2">
                    <button onclick="search()">Submit</button>
                </td>
                
            </tr>    

            <tr></tr>

            <tr>
                <td style="color: #3498db;">ID</td>
                <td style="color: #3498db;">Location</td>
                <td style="color: #3498db;"># of Bins Available</td>
                <td style="color: #3498db;">Action</td>
            </tr>
            <tbody id="chromebookTableBody">
            </tbody>
            <!-- <tr>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
                <td>
                    <button onclick="reserve()">Reserve</button>
                </td>
            </tr>
            <tr>
                <td>Data 5</td>
                <td>Data 6</td>
                <td>Data 7</td>
                <td>Data 8</td>
            </tr> -->
        </table>
    </div>

    <!-- THIS ISNT ALIGNED FIX IT LATER -->
    <div class = "table_container" style = "margin-top: 200px;">
        <table>
            <tr>
                <td class="highlight"><a href="bug_report.html" target="_blank">Bug Report</a></td>
            </tr>
        </table>      
    </div>



</body>
</html>