<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
    <script src="../static/my_reservations_script.js"></script>

</head>
<body>
    <nav>
        <a href="{{ url_for('home_index') }}">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>
    
    <div style="display: flex;">
        <!-- LINK TO OTHER PAGES -->
        {% include 'navigation.html' %}
        
        <table class="new-table">
            <!-- New table content -->
            <tr>
                <td colspan="6" style="color: #3498db;">Reservations</td>
            </tr>
            <!-- <tr> 
                <button onclick="button()">Click me</button>

                <td>ID</td>
                <td>Location From</td>  
                <td>Date reserved</td> 
                <td>Period</td> 
                <td>Name</th>
                <td>Action</th>
            </tr>
             <tbody id="reservationTableBody"></tbody> -->

            <tr>
                <td style="color: #3498db;">ID</td>
                <td style="color: #3498db;">Location</td>
                <td style="color: #3498db;">Date reserved</td>
                <td style="color: #3498db;">Period</td>
                <td style="color: #3498db;">Username</td>
                <td style="color: #3498db;">Action</td>
            </tr>
            <tbody id="reservationTableBody">
            </tbody>



            
        </table> 
    </div>
</body>
</html>
