<!-- Since this code is reused in all the HTML files, we put it in a separate file that is imported into other HTML files for simplicity. -->
<table>
    {% if is_verified %}
        <tr><td class="highlight {% if active_page == 'date_lookup' %}active{% endif %}"><a href="{{ url_for('date_lookup') }}">Reserve</a></td></tr>
    {% else %} 
        <tr><td class="highlight"><button class="button grayed-out" disabled>Reserve</button></td></tr>
    {% endif %}
    <tr><td class="highlight {% if active_page == 'my_reservations' %}active{% endif %}"><a href="{{ url_for('my_reservations') }}">My Reservations</a></td></tr>
    <!-- <tr><td class="highlight {% if active_page == 'current_locations' %}active{% endif %}"><a href="{{ url_for('current_locations') }}">Bin Locations</a></td></tr>  -->
    <tr class="invisible-row"><td class="highlight"></td></tr> <!-- Invisible row -->
    {% if is_admin %}
        <tr><td class="highlight {% if active_page == 'reservation_history' %}active{% endif %}"><a href="{{ url_for('reservation_history') }}">Reservation History</a></td></tr>
    {% else %}
        <tr><td class="highlight"><button class="button grayed-out" disabled>Reservation History</button></td></tr>
    {% endif %} 
    {% if is_admin %} 
        <tr><td class="highlight {% if active_page == 'add_locations' %}active{% endif %}"><a href="{{ url_for('add_locations') }}">Add Bin</a></td></tr>
    {% else %}
        <tr><td class="highlight"><button class="button grayed-out" disabled>Add Bin</button></td></tr>
    {% endif %}
    {% if is_admin %}
        <tr><td class="highlight {% if active_page == 'admin_panel' %}active{% endif %}"><a href="{{ url_for('admin_panel') }}">Manage Users</a></td></tr>
    {% else %}
        <tr><td class="highlight"><button class="button grayed-out" disabled>Manage Users</button></td></tr>
    {% endif %}
    <tr class="invisible-row"><td class="highlight"></td></tr> <!-- Invisible row -->
    <tr><td class="highlight"><button class="button" onclick="alert('Please report any bugs to ochen2@ocdsb.ca.')">Bug Report</button></td></tr>
    <tr><td class="highlight"><a href="{{ url_for('team') }}">Our Team</a></td></tr>
    <tr><td class="highlight"><a href="{{ url_for('login_index') }}">Sign out</a></td></tr>
</table>
