<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
    <script src="../static/reservation_history_script.js"></script>
</head>
<body>

    <nav>
        <a href="{{ url_for('home_index') }}">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>

    <div style="display: flex;">
        
        <table>
            <tr><td class="highlight"><a href="{{ url_for('date_lookup') }}">Date Lookup</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('my_reservations') }}">My Reservations</a></td></tr>
            <tr><td style="background-color: lightblue;" class="highlight"><a href="{{ url_for('reservation_history') }}">Reservation History</a></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('add_locations') }}">Add Bin</a></td></tr>
            <tr><td class="highlight"><button class="button" onclick="alert('Please report any bugs to ochen2@ocdsb.ca.')">Bug Report</button></td></tr>
            <tr><td class="highlight"><a href="{{ url_for('login_index') }}">Sign out</a></td></tr>

            
        </table>
        
        <table class="new-table" id="history">
            <tr>
                <td style="color: #3498db;">Date</td>
                <td style="color: #3498db;">Period</td>
                <td style="color: #3498db;">ID</td>
                <td style="color: #3498db;">Name</td>
            </tr>
            <tbody id="historyTableBody"></tbody>
        </table>
</body>
</html>