<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromebook Scheduler</title>
    <link rel="stylesheet" href="../static/all_pages_style.css" type="text/css"/>
</head>
<body>
    <nav>
        <a href="home_index.html">Welcome to the Chromebook Reservation System</a>
    </nav>

    <div></div>

    <div style="display: flex;">
        <table>
            <tr><td class="highlight"><a href="date_lookup_index.html">Date Lookup</a></td></tr>
            <tr><td class="highlight"><a href="my_reservations_index.html">My Reservations</a></td></tr>
            <tr><td style="background-color: lightblue;"><a href="reservation_history_index.html">Reservation History</a></td></tr>
        </table>

        <table class="new-table">
            <!-- New table content -->
            <tr>
                <td colspan="6" style="color: #3498db;">Reservation History</td>
            </tr>
            <tr> 
                <td>ID</td>
                <td>Location From</td>
                <td>Reserver Location</td>
                <td>Number of Bins</td>
                <td>Initial Time</td>
                <td>Final Time</td>
            </tr>
            <!-- Not sure how to implement spesific data from database to here -->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table> 
    </div>
    <!-- Pagination Controls -->

    <div style="display: flex;">
        <table>
            <td><a href="bug_report.html" target="_blank">Bug Report</a></td>
        </table>
        <div class="pagination">
            <a href="#">First Page</a> | 
            <a href="#">Last Page</a> | 
            <a href="#">1</a> | 
            <a href="#" class="next">Next Page</a> | 
            <a href="#" class="last">Last Page</a>
        </div>     
    </div>



</body>
</html>